<div class="navigation d-flex align-items-center position-relative">
  <div class="logo">
    <span><i class="bi bi-chevron-compact-up h5"></i>udemy</span>
  </div>
  <div class="categories">Categories</div>
  <div class="search">
    <i class="bi bi-search"></i>
    <input type="text" placeholder="Search for anything">
  </div>
  <div class="udemy-business">
    Udemy Business
  </div>
  <div class="teach">
    Teach on Udemy
  </div>
  <div class="cart">
    <i class="bi bi-cart h5"></i>
  </div>
  <button>Login</button>
  <button>SignUp</button>
  <div class="language">
    <i class="bi bi-globe h5"></i>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-body">
      <ul>
        <li>Development</li>
        <li>Business</li>
        <li>Finance and Accounting</li>
        <li>IT & Software</li>
        <li>Office productivity</li>
      </ul>
  </div>
</ng-template>

{{ closeResult }}
