.navigation {
  height: 80px;
  background-color: #fff;
  gap: 0.625rem;
  padding-inline: 1rem;
}

.logo {
  /* border: 1px solid red; */
}

.logo span {
  position: relative;
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo i {
  position: absolute;
  top: 0;
  left: 5px;
  color: rgb(59, 25, 143);
}

.modal {
  position: absolute !important;
  left: -400px;
  top: 80%;
  height: 300px;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

.search {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 18px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search i {
  padding-left: 0.5px;
  padding-right: 1rem;
  color: #ccc;
  cursor: not-allowed;
}

.cart {
  color: #000;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.language {
  color: #000;
}

.loginBtn {
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  color: #000;
  background-color: #fff;
}

.signUp {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #000;
  border: none;
}

.language {
  border: 1px solid #000;
  padding: 0.5rem;
}

@media (max-width: 1080px) {
  .udemy-business {
    display: none;
  }
}


@media (max-width: 920px) {
  .teach {
    display: none;
  }
}

@media (max-width: 800px) {
  .navigation {
    justify-content: space-between;
  }

  .hamburger,
  .search-mobile {
    display: block !important;
    color: #000;
  }

  .signUp,
  .loginBtn,
  .language,
  .categories,
  .search {
    display: none;
  }
}

@media (max-width: 598px) {
  .navigation {
    width: 598px;
    overflow-x: scroll;
    cursor: all-scroll;
  }
}
